@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f8f5f0;
  color: #17120f;
}

* {
  box-sizing: border-box;
}

::selection {
  background: #f97316;
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #17120f;
}

::-webkit-scrollbar-thumb {
  background: #f97316;
  border-radius: 10px;
}